<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label for="summary">About you</label>
                            <textarea type="text" class="form-control" id="summary" name="summary" placeholder="Summary"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="degree">Degree</label>
                            <input type="text" class="form-control" id="degree" name="degree" placeholder="Degree">
                        </div>
                        <div class="form-group">
                            <label for="school">School</label>
                            <input type="text" class="form-control" id="school" name="school" placeholder="School">
                        </div>
                        <div class="form-group">
                            <label for="university">University</label>
                            <input type="text" class="form-control" id="university" name="university" placeholder="University">
                        </div>
                        <div class="form-group">
                            <label for="previous_work">Previous Work</label>
                            <textarea type="text" class="form-control" id="previous_work" name="previous_work" placeholder="Previous Work"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="skills">Skills</label>
                            <textarea type="text" class="form-control" id="skills" name="skills" placeholder="Skills"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </body>
</html>